.navbar{
	width: 100vw;
    height: 40vh;
    background-color: #3944F7;
    font-size: x-large;
    color: white;
    text-align: center;
    margin: 10px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    place-items: center;

}
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.content {
  padding: 16px;
}

.sticky + .content {
  padding-top: 60px;
}


