body {
  margin: 0px;
}
.navbar{

    background-color: #3944F7;
    font-size: smaller;
    color: white;
    text-align: center;
    display: flex;
    
}
#navbar {
  width: 100%;
  height: 40px;
  margin: 0px;
}
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
#one {
  background: slategray;
  margin-top: 0px;
  width: 100%;
  height: 32rem;
  position:relative

}
#one h5 {
  text-transform: uppercase;
  text-indent: 88px;
  letter-spacing: 5px;
  line-height: 1.8;
  word-spacing: 10px;
  font-size: 3rem;
  color: inherit;
  font-weight: inherit;
  margin: 0px;
}
#one p {
  font-size: 24px;
  text-indent: 46px;
  letter-spacing: 8px;
  color: orange;
}

#two {
  margin: 0px;
  background-color: cornflowerblue;
  
}
#two a {
  color: darkgreen;
  text-decoration-line: unset;
  font-size: 11px;
  text-transform: lowercase;
}
.skill {
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.skill ul {
  list-style-type: square;
  padding: 20px;
  background-color: #3944F7;
}

footer {
  margin: 0px;
  background: black;
  color: blue;
  display: flex;
  width: 100%;
  height: 10rem;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.content {
  padding: 16px;
}

.sticky + .content {
  padding-top: 60px;
}


